{{#section 'head'}}
    <link type="text/css" rel="stylesheet" href="/static/resource/styles/index/a.css" />
{{/section}}
{{#section 'foot'}}
	<script src="/static/index/vendor.bundle.js"></script>
	<script src="/static/index/bundle.js"></script>
{{/section}}

<div id="saas-entry">

</div>

