<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/resource/styles/common.css">

    {{{sections.head}}}

</head>
<body>

{{{body}}}

{{{sections.foot}}}

</body>
</html>
