<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/resource/styles/common.css">

    {{{sections.head}}}

</head>
<body>

{{{body}}}

{{{sections.foot}}}

<script src="/static/index/vendor.bundle.js"></script>
<script src="/static/index/bundle.js"></script>

</body>
</html>
